<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/stylehomepage2.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    @{ 
        MvcClothesStore.Models.NguoiDung kh = (MvcClothesStore.Models.NguoiDung)Session["Taikhoan"];
        var name = kh?.HoVaTen;
    }
    <div class="banner">
        <div style="flex-grow: 1;">
            <img style="height: 100px;margin: 15px;" src="~/images/logo.svg">
        </div>
        <div class="namestore">
            DOMBA <span style="font-size: 30px">in your</span> AREA
        </div>
        <div class="icon">
            <div style="font-family: 'MuseoModerno', cursive;font-size: 20px;margin-right:10px">Xin Chào @name ! </div>
            <a href="https://www.facebook.com/nguyentrieu.bas" target="_blank">
                <i class="fa fa-2x fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/official.domba/" target="_blank">
                <i class="fa fa-2x fa-instagram"></i>
            </a>
            @{
                if (Session["Taikhoan"] == null || Session["Taikhoan"].ToString() == "")
                {
                    <a href="@Url.Action("SignIn", "User")" target="_blank">
                        <i class="fa fa-2x fa-user-circle-o"></i>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("UpdateAccount", "User", new { id = kh.id_user })" target="_blank">
                        <i class="fa fa-2x fa-user-circle-o"></i>
                    </a>
                    <a href="@Url.Action("Logout","User")">
                        <i class="fa fa-2x fa-sign-out" aria-hidden="true"></i>
                    </a>
                }
            }


            <a href="@Url.Action("Index", "Giohang")" target="_blank">
                <i class="fa fa-2x fa-shopping-bag"></i>
            </a>
        </div>
    </div>

    <div class="menu">
        <ul class="menulist">
            <li><a style="margin-top: 10px;" href="@Url.Action("Index", "ClothesStore")">Trang Chủ /</a></li>
            <li><a href="@Url.Action("Home", "ClothesStore")">Danh mục /</a></li>
            <li><a href="#">@ViewBag.Title</a></li>
        </ul>
    </div>

        @RenderBody()
    
    <div class="footer">
        <img style="width: 100%" src="~/images/collection_banner.JPG">
        <div class="wrap_help">
            Hỗ Trợ / Mua hàng: <a href="0335794140" style="text-decoration: none; color: red;">0335794140</a>
        </div>
        <div class="footer_bot">
            <div class="contactus">
                <ul>
                    <li>
                        <p style="font-size: 40px; font-style: italic;"></i>LIÊN HỆ</p>
                        <p style="font-size: 15px">
                            Store 1 : xx đường Hoàng Diệu 2, Phường Linnh Trung, Quận Thủ Đức, TPHCM<br>
                            Store 2 : xxx đường Điện Biên Phủ, Phường 25, Quận Bình Thạnh, TPHCM<br>
                            Store 3 : xxx đường Ngô Mây, Phường Ghềnh Ráng, Tp Quy Nhơn, Tỉnh Bình Định<br>
                            Số Điện thoại:
                            <a href="0335794140" style="text-decoration: none; color: red;">0335794140</a><br>
                            Email: beubeuleuleu@gmail.com
                        </p>
                    </li>
                </ul>
            </div>
            <div class="igcontact">
                <a href="https://www.instagram.com/official.domba/"><img src="~/images/fanpage.JPG"></a>
            </div>
        </div>
    </div>    
</body>
</html>
