@model MvcClothesStore.Models.NguoiDung
@{
    ViewBag.Title = "UpdateAccount";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
    <div style="margin-left:5rem; margin-right:5rem; margin-top:9rem; border-bottom:2px solid #f6f6f8">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal" style="width: 720px; background: #f1f1f1; height: 780px; padding: 80px 40px; border-radius: 10px; position: sticky; margin-bottom: 30px; left: 30%; top: 50%; box-shadow: 10px 10px 5px grey;">
                <div class="title">
                    <p style="font-size: 40px; margin-top: 1px; text-align: center;">YOUR PROFILE</p>
                </div>
                <p style="color: red; text-align: center">@ViewBag.Thongbao</p>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_user )

                <div>
                    <label><i>ID login</i></label>
                    <div class="txtb">
                        @Html.EditorFor(model => model.TenUser, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenUser, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div >
                    <label class="control-label col-md-1"><i>Password</i></label>
                    <div class="txtb">
                        @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div >
                    <label class="control-label col-md-1"><i>Email</i></label>
                    <div class="txtb">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div >
                    <label class="control-label col-md-1"><i>Address</i></label>
                    <div class="txtb">
                        @Html.EditorFor(model => model.diachi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div >
                    <label class="control-label col-md-1"><i>Phone</i></label>
                    <div class="txtb">
                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div  style="margin-top:3rem; margin-left:5rem;">
                    <div class="col-lg-11">
                        <input type="submit" value="Save" class="logbtn"  />
                    </div>
                </div>
            </div>
        }
    </div>
<script type="text/javascript">
    $(".txtb input").on("focus", function () {
        $(this).addClass("focus");
    });

    $(".txtb input").on("blur", function () {
        if ($(this).val() == "")
            $(this).removeClass("focus");
    });
</script>

