@model MvcClothesStore.Models.NguoiDung
@{
    ViewBag.Title = "UpdateAccount";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div>
    <form method="post" name="signin_form" style="width: 720px; background: #f1f1f1; height: 600px; padding: 80px 40px; border-radius: 10px; position: sticky; margin-bottom: 30px; left: 30%; top: 50%; box-shadow: 10px 10px 5px grey;">
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class="title">
            <p style="font-size: 40px; margin-top: 1px; text-align: center;">~ YOUR PROFILE ~</p>
            @ViewBag.ThongBao
        </div>

        <div class="txtb">
            <input type="text" name="TenUser">
            <span data-placeholder="@Model.TenUser"></span>
        </div>

        <div class="txtb">
            <input type="password" name="MatKhau">
            <span data-placeholder="@Model.MatKhau"></span>
        </div>

        <div class="txtb">
            <input type="password" name="cfpwd">
            <span data-placeholder="Confirm your password"></span>
        </div>

        <div class="txtb">
            <input type="text" name="HoVaTen">
            <span data-placeholder="@Model.HoVaTen"></span>
        </div>

        <div class="txtb">
            <input type="text" name="email">
            <span data-placeholder="@Model.email"></span>
        </div>

        <div class="txtb">
            <input type="text" name="diachi">
            <span data-placeholder="@Model.diachi"></span>
        </div>

        <div class="txtb">
            <input type="text" name="phone">
            <span data-placeholder="@Model.phone"></span>
        </div>
        <div style="float: right">
            <input type="submit" class="logbtn" value="Save">
        </div>
    </form>
</div>
<script type="text/javascript">
    $(".txtb input").on("focus", function () {
        $(this).addClass("focus");
    });

    $(".txtb input").on("blur", function () {
        if ($(this).val() == "")
            $(this).removeClass("focus");
    });
</script>

